*{padding:0;margin:0;}

:root {
  --main-black-color: #222;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  color: inherit !important;
  
}
a:hover {
  text-decoration: none !important;
}
li {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}


.newwadress header{
  width: 100vw;
  overflow: hidden;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
  background: #000;
  color: #fff;
  font-size: 16px;
  z-index: 2;
}
.newwadress{
  min-height: 100vh;
  background:#F4F6F9;
}
.newwadress a{text-decoration: none;}
.newwadress .backButton{    
  width: 8vw;
  position: absolute;
  left: 3vw;
  max-width: 60px;}
  .newwadress .resset{
  position: absolute;
  right: 4.5vw;
  font-size: 11px;
}
.newwadress label{
  width:35vw;
  display: inline-block;
  padding-left: 15px;
}
.newwadress input {
  display:inline-block;
  width: 59vw;
  border: 0;
  height: 40px;
}
.newwadress input:focus{
  
  border:0;
  outline: none;
}
.newwadress .InputCaontainer{
  width: 100vw;
  border: 0;
  height: 45px;
  background:#fff;
  margin-bottom: .5px;
}
